*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    background-color: darkred;
}
/*#bgimg{*/
/*    background-image: url("images/Kaer_Morhen.jpg");*/
/*}*/
#mynavbar{
    color: white;
    font-family: 'Merienda', cursive;
}
nav .navbar-nav li a{
    color: white !important;
}
#logo{
font-family: 'Yatra One', cursive;
font-size: xx-large;
}
#logopng{
    width: 120px; height: 100px;
}
#zegar{
    color: crimson;
    margin-right: 150px;
}

.w-100 {
    width: 50% !important;
    height: auto;
    padding: 100px;
    justify-content: center;
    margin: auto;

}
p{
    text-align: center;
    color: white;
    width: 75%;
    margin-left: 200px;
    font-family: 'Merienda', cursive;

}

#game_series{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px;
    box-shadow:  black;
}
#w3, #tw3 {
    width: 33.3%;
    text-align: center;
}
#w2, #tw2{
    width: 33.3%;
    text-align: center;
}
#w1{
    width: 33.3%;
    text-align: center;
}